@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif; 
}

header{
    background-color: #6a040f;

}

.headerContainer{
    width:100%;
    height:12vh;
    display:flex;
    justify-content: space-between;
}

.logo{
    width:14vw;
    height:12vh;
}

ul{
    width:50vw;
    height:10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}


a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    opacity: 0.7;
}

span:hover{
    cursor:pointer;
}

li{
    width:10vw;
    list-style: none;
    color:white;
    text-decoration: none;
    font-size: 1.6vw;
    padding: 2vw;
}

.subMenu{
    width:15vw;
    height:15vh;
    position: absolute;
    top:7vh;
    right:13vh;
    background-color: #6a040f;
    display: none;
}

.subMenu li{
    width:15vw;
    height:6vh;
    margin-top:0.5vh;
    margin-bottom:1vh;
    text-align: center;
    font-size: 1.6vw;
    padding:1vh;
}


.menuTopic:hover a{
    text-decoration: none;
    color:#ffff;
}

.subMenu li:hover{
    font-weight: bolder;
    opacity: 0.7;
}

.menuTopic:hover .subMenu{
    display: block;
}

.backgroundHappy{
    height:60vh;
    background-image: url('../Images/happyhourPhoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-top:10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backgroundHappy p{
    font-size: 3.5vw;
    text-shadow: black 0.1em 0.1em 0.2em;
    color:white;
    width:30vw;
    text-align: center;
    font-weight: 700;
}

.firstContainerMain{
    margin-top: 15vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.firstContainerMain div{
    width:15vw;
    height: 8vh;
    background-color: #6a040f;
    text-align: center;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstContainerMain a{
    text-decoration: none;
}

.firstContainerMain h2{
    font-size:1.7vw;
    color:white;
}

.firstContainerMain h2:hover{
    cursor: pointer;
    font-weight: bolder;
    opacity: 0.8;
}

.containerTitle{
    margin-top:5vh;
    margin-bottom:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTitle h2{
    color:black;
    font-size:2.3vw;
}

.dash{
    width: 15vw;
    border:solid #6a040f;
}

.dishes{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
}

.dishes figure{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dishes img{
    width:20vw;
}

.dishes article{
    background-color: #f4f1de;
    width: 20vw;
    height:30vh;
    padding:2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dishes h3{
    font-size:1.8vw;
    margin-top:8vh;
    margin-bottom: -2vh;
    color: #370617;
}

.dishes p{
    font-size:1.09vw;
    width: 18vw;
    padding:2vw;
    text-align: center;
}

.thirdContainerMain{
    margin-top: 20vh;
}

.containerLogo{
    display: flex;
    justify-content: flex-end;
    margin-top: -5vh;
}

.containerLogo a{
    scroll-behavior: smooth;
}

.logoMain{
    border-radius: 50%;
    height:20vh;
    border:solid #6a040f;
}

.container-footer{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6a040f;
    color: white;
}

.container-footer img{
    width: 25vw;
}

.container-footer h4{
    font-size: 1.2vw;
    margin-top: 2vh;
    margin-bottom:1vh;
}